
//--------- start gallery Area -------------//

.gallery-area{
	.single-gallery{
		margin-bottom:30px;
		.content {
		  position: relative;
		  max-width: 100%;
		  margin: auto;
		  overflow: hidden;
		  .primary-btn{
		  	border-radius:0px;
		  	@media(max-width:414px){
				font-size:10px;
		  	}
		  }
		}
		.content .content-overlay {
		  background-color:#373642;
		  position: absolute;
		  left: 0;
		  top: 0;
		  bottom: 0;
		  right: 0;
		  opacity: 0;
		  border-radius:10px;
		  border:1px solid $primary-color;
		  -webkit-transition: all 0.4s ease-in-out 0s;
		  -moz-transition: all 0.4s ease-in-out 0s;
		  transition: all 0.4s ease-in-out 0s;
		}

		.content-overlay{
			margin:20px;
			@media(max-width:414px){
				margin:0px;
			}
		}

		.content:hover .content-overlay{
		  opacity: .8;
		}

		.content-details {
		  position: absolute;
		  text-align: center;
		  padding-left: 1em;
		  padding-right: 1em;
		  width: 100%;
		  top: 50%;
		  left: 50%;
		  opacity: 0;
		  -webkit-transform: translate(-50%, -50%);
		  -moz-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  -webkit-transition: all 0.3s ease-in-out 0s;
		  -moz-transition: all 0.3s ease-in-out 0s;
		  transition: all 0.3s ease-in-out 0s;
		}

		.content-title{
			width:60%;
		  	border-bottom:1px solid $primary-color;		
			font-size:18px;
			color:$white;
			font-weight:500;
			padding:20px 0px;
			@media(max-width:414px){
				width:92%;
				font-size:15px;
			}
		}

		.content:hover .content-details{
		  top: 50%;
		  left: 50%;
		  opacity: 1;
		}

		.content-image{
			width:100%;
		}

		.content-details p{
		  color: #fff;
		  font-size: 0.8em;
		}

		.fadeIn-bottom{
		  top: 80%;
		}
	}
}

//--------- end gallery Area -------------//